<body>
    <div id="main-content">
        <header>
            <h1>Nigerian Pension Adviser</h1>
        </header>
        <main>
            <button onclick="window.location.reload()">Reload Program</button>
            <div id="terminal"></div>
        </main>
    </div>
    <footer>
        <p>
            <a href="https://github.com/Polyanyanwu" target="_blank" title="GitHub Page"
            rel="noopener" aria-label="GitHub"><i class="far fa-copyright"></i>&nbsp;PolyAnyanwu&nbsp;<i class="fab fa-github-square"></i></a>
        </p>
    </footer>
    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>